| Hi #{name},

| Welcome to TeraCare! To complete your registration, please
| #{action === 'Reset Password' ? 'reset your password' : 'verify your email'} using the code below:
| #{code}

//- | If you did not request this, please ignore this email or contact support at 
//- strong support@theteracare.app

//- | Thanks,
//- | The TeraCare Team