| You have just being profiled as an admin on MSSNUI Library 
|
| Please ensure you you change your password when you login 
|
| 
| Firstname:  #{fullName}
| Email: #{email}
| Password: #{password}
| Phone: #{phoneNumber}
