div.footer
  .social-icons
    a(href="https://facebook.com/mssnui")
      i(class="fab fa-facebook")
    a(href="https://linkedin.com/mssnui")
      i(class="fab fa-linkedin")
    a(href="https://instagram.com/mssnui")
      i(class="fab fa-instagram")

  p MSSNUI Library
  //- p The Future of Healthcare Is Here
  //- p
  //-   | No longer want to receive these emails?
  //-   a(href="https://app.teracare.me/unsubscribe") Unsubscribe
